body {
  background-color: rgba(154, 180, 217, 1);

}

.headerbg {
  min-width: 100%;
  min-height: 800px;
  background-image: url(../images/starsky.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

.maintitle {
  text-align: center;
  font-weight: bold;
  color: rgba(233, 200, 53, 1);
}

.flright {
  float: right;
}

.flleft {
  float: left;
}

.imgfit {
  max-height: 100%;
  max-width: 100%;
  height: 300px;
  object-fit: cover;
}

.imgfit1 {
  max-height: 100%;
  max-width: 100%;
  height: 150px;
  object-fit: cover;
  margin: 15px;
}

.title1 {
  color: black;
  font-weight: bold;
}

.title2 {
  font-weight: bold;
  text-align: center;
}

.panelbg {
  background-color: lightgray;
  background-size: cover;
}

.panelbg :hover {
  background-color: lightblue;
}

.bigger {
  font-size: 18px;
  color: rgba(233, 200, 53, 1);
}

.projpad {
  margin: 20px;
}

.list1 {
  list-style: none;
}

.list2 {
  list-style-type: circle;
}
